<!DOCTYPE html>

<html ng-app>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample app</title>

    <!-- include the web_components polyfills with support for Dart. -->
    <script src="packages/web_components/platform.js"></script>
    <script src="packages/web_components/dart_support.js"></script>

    <!-- import the click-counter -->
    <link rel="stylesheet" href="grocery_store.css">
  </head>
  <body ng-cloak>
    <h1>Grocery store</h1>
    
    <p>Hello world from Dart!</p>
    
    <div items>
        <ul>
            <li ng-repeat="item in ctrl.items"
                ng-click="ctrl.selectItem(item)"
                ng-bind="item.name">
            </li>
        </ul>

        <div id="selectedItem">
            {{ctrl.selectedItem.price}}
        </div>
    </div>

    <script type="application/dart" src="main.dart"></script>
    <script src="packages/browser/dart.js"></script>
  </body>
</html>
