<!DOCTYPE html>

<html ng-app>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample app</title>

    <!-- include the web_components polyfills with support for Dart. -->
    <script src="packages/web_components/platform.js"></script>
    <script src="packages/web_components/dart_support.js"></script>

    <!-- import the click-counter -->
    <link rel="stylesheet" href="grocery_store.css">
  </head>
  <body>
    <h1>Grocery store</h1>
    <div items>
        <ul>
            <li ng-repeat="row in ctrl.rows">
            <h1>
                <button ng-click="ctrl.moveDownRow(row)">Move down</button>
                {{row.name}}
            </h1>
                <ul>
                    <li ng-repeat="item in row.items">
                    {{item.name}}
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <script type="application/dart" src="main.dart"></script>
    <script src="packages/browser/dart.js"></script>
  </body>
</html>
